<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fullMangaInfo.title %>  </title>
</head>
    </div>
    <h1><%= fullMangaInfo.title %> </h1>
    <% for( let index = 0; index < fullManga.length; index++ ) { %>
            <% let a = fullManga[index]; %>
            <p><%= a.name %></p>
            <img src="<%= a.image_url %>" alt="">
        <hr>
    <% } %>
</body>
</html>