<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes</title>
</head>
<body>
    <% for( let index = 0; index < animes.length; index++ ) { %>
        <% let a = animes[index]; %> 
        <p><%= a.title %></p>
        <img src="<%= a.image_url %>" alt="">
        <a href="<%= a.video_url %>" target="_blank" rel="noopener noreferrer">Click to Watch</a>
        <hr>
    <% } %>
</body>
</html>